@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/*default styles:mobile display*/
.header{
    padding-top: 2em;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    z-index: 3;

}
.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-left: 2em;
    margin-right: 2em;
    z-index: 1;
}
.bash{
    min-width:2em ;
    max-width: 2em;
}
.name{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-weight:bolder;
    font-size: 1.5em;
    margin-left: 1em;
}
.blinkit{
    animation: blink 1s infinite;
}

@keyframes blink{
    0% {
        fill: #000;
    }
    49% {
        fill: #000;
    }
    60% {
        fill: transparent;
    }
    99% {
        fill: transparent;
    }
    100% {
        fill: #000;
    }
}

.contact-button{
    color: white;
    border: 1px white solid;
    border-radius: 12px;
    background-color: transparent;
    display: block;
    height: 3em;
    padding:0 2em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 1em;
    z-index: 1;
}
.contact-button:hover{
    background-color: #f0f8ff;
    color: #1a1a1a;
    border: 1px white solid;

}
.button-container{
    display: flex;
    justify-content: flex-end;
    width:50%;
}
/*start of desktop display*/
@media screen and (min-width: 767px) {

    .header{
        padding-left: 1em;
    }

}