@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');


.homepage-container{
    width: 90%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 20em;
    color: white;
}
.hero{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 1em;
}
.picture--decor{
    height: 50%;
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dots-background{
    position: relative;
}

.computer{
    width: 75%;
    max-width:290px;
    z-index: 4;
    margin-left: 3em;
    position: absolute;
    margin-top: -1.5em;

}


.description{
    color: white;
    margin-top: 0.5em;
}
.Iam{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2rem;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    margin:0;
}
.words{
    margin-right: 4em;
    width: 25em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1rem;
    text-align: left;
    color: #9C27B0;
    margin-top:0;

}
.more{
    text-align: left;
    font-size:1rem;
    font-family: "Source Sans Pro",sans-serif;
}




@media (min-width: 550px) and (max-width: 770px) {
    .homepage-container{
        font-size:1.2rem;
    }
    .words{
        margin-top: 1em;
    }
}



@media(min-width: 770px){

    .hero{
        flex-direction: row;
        margin-top: 7em;
        justify-content: space-between;
    }
    .picture--decor{
        order: 2;
        width: 50%;
    }
    .description{
        order: 1;
        width: 50%;
    }
    .dots-background{
        margin-left:60em;
    }
    .computer{
        width:60%;
        max-width: 450px;
        margin-left: 9em;
        margin-top: -5em;
    }

    .Iam{
        font-size: 2.5rem;
    }
    .more,.words{
        margin-top: 1.5em;
        font-size: 1.3rem;
    }
}